<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/campaigns"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva campaña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <form #createCampaignForm="ngForm" (ngSubmit)="createCampaign(createCampaignForm)">
              <ion-list>

                <!-- Title of the campaign -->
                <ion-item>
                  <ion-label position="floating">Título</ion-label>
                  <ion-input
                    type="text"
                    ngModel
                    name="title"
                    required
                    #titleCtrl="ngModel"
                    ></ion-input>
                </ion-item>
                <ion-item
                  *ngIf="!titleCtrl.valid && titleCtrl.touched"
                  lines="none"
                  ><ion-label color="danger">* El título no puede estar vacío.</ion-label>
                </ion-item>

                <!-- Master of the campaign -->
                <ion-item>
                  <ion-label position="floating">Master</ion-label>
                  <ion-input
                    type="text"
                    ngModel
                    name="master"
                    required
                    #masterCtrl="ngModel"
                    ></ion-input>
                </ion-item>
                <ion-item
                  *ngIf="!masterCtrl.valid && masterCtrl.touched"
                  lines="none"
                  ><ion-label color="danger">* El master no puede estar vacío.</ion-label>
                </ion-item>

                <!-- Participants input -->
                <ion-item>
                  <ion-label position="floating">Añadir participante</ion-label>
                  <ion-input type="text" #newParticipantCtrl></ion-input>
                </ion-item>
                <ion-button
                  color="primary"
                  fill="outline"
                  (click)="addParticipant(newParticipantCtrl)"
                  >Añadir participante</ion-button>

                <!-- Create button -->
                <ion-button
                  class="ion-margin-top"
                  type="submit"
                  expand="block"
                  fill="solid"
                  [disabled]="!createCampaignForm.valid || this.participantsIds.length === 0"
                  >Crear campaña</ion-button>

                <!-- Participants list -->
                <ion-item
                  *ngIf="this.participantsIds.length === 0"
                  lines="none"
                  ><ion-label color="danger">* La campaña tiene que tener participantes.</ion-label>
                </ion-item>
                <ion-item>
                  <ion-text color="primary" class="small-list">Participantes</ion-text>
                </ion-item>
                <ion-item
                  lines="none"
                  *ngFor="let participant of participants"
                  >
                  <ion-text color="medium" class="ion-padding small-list">
                    {{ participant.getName() }}
                  </ion-text>
                  <ion-button
                    fill="clear"
                    (click)="removeParticipant(participant.getId())"
                    slot="end"
                    >
                    <ion-icon
                      color="medium"
                      slot="icon-only"
                      name="close-outline"
                      ></ion-icon>
                  </ion-button>
                </ion-item>

              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
