<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-avatar style="background-color: white; margin: auto; width: 100px; height: 100px;">
              <ion-img></ion-img>
            </ion-avatar>
          </ion-card-header>
          <ion-card-content class="ion-padding">
            <ion-label
              position="stacked"
              color="primary"
              >Email</ion-label>
            <ion-input
              type="mail"
              [disabled]="this.bIsEditing"
              [value]="this.currentEmail"
              ></ion-input>
            <ion-label
              position="stacked"
              color="primary"
              >Nombre</ion-label>
            <ion-input
              type="text"
              [disabled]="this.bIsEditing"
              [value]="this.currentDisplayName"
              ></ion-input>

            <!-- TODO: Add logic to change profile,
              and add change password button when you change the mode to edit. -->
            <ion-button
              color="primary"
              expand="block"
              fill="solid"
              (click)="this.bIsEditing = !this.bIsEditing"
              >Actualizar datos</ion-button>

            <ion-button
              color="danger"
              expand="block"
              fill="solid"
              (click)="deleteAccount()"
              >Eliminar cuenta</ion-button>

            <ion-button
              color="danger"
              expand="block"
              fill="outline"
              (click)='onSignOut()'
              >Cerrar sesión</ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
